﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/popup-messages.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>

    <script src="~/js/messages.js" asp-append-version="true" defer></script>
    <script src="~/js/components.js" asp-append-version="true" defer></script>
    <script src="~/js/assets-modal.js" asp-append-version="true" defer></script>
    <script src="~/js/assets-data.js" asp-append-version="true" defer></script>

    <script src="~/js/utils.js" asp-append-version="true" defer></script>
    <script src="~/js/validate-form.js" asp-append-version="true" defer></script>
    <script src="~/js/requests.js" asp-append-version="true" defer></script>
    <script src="~/js/services.js" asp-append-version="true" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</head>

<body id="dashboard-layout">

    <div class="container">
        <div id="message-success" class="alert alert-success" style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); padding: 10px; background-color: #7eca8f; color: white; border-radius: 5px;">
            <!-- Success message content -->
        </div>
        <div id="message-error" class="alert alert-danger" style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); padding: 10px; background-color: #7eca8f; color: white; border-radius: 5px;">
            <!-- Error message content -->
        </div>

        <div role="main" id="dashboard-main">

            <div id="prompt-message" class="popup-message alert alert-success">
            </div>
            <!-- Top Bar -->
            <div id="top-bar-bg" class="bg-dark fixed-top d-flex p-2">
                <!-- Hamburger Button inside the Top Bar (Left-aligned) -->
                <span class="hamburger ms-2">
                    <i class="fa fa-bars fa-2x text-orange" onclick="toggleSidebar()"></i>
                </span>
                <h4 class="text-orange m-1 ms-3 app-name">IMS</h4>
            </div>


            <!-- Sidebar Navigation -->
            <nav id="sidebar" class="bg-dark d-flex flex-column" >
                <div class="d-flex justify-content-between">
                    <div class="d-flex fs-1">
                        <h4 class="text-orange">IMS</h4>
                    </div>
                </div>

                <div>
                    <h6 href="#" class="text-decoration-none text-light text-start text-uppercase" id="username-container"></h6>
                </div>

                <hr class="text-white" />

                <ul class="nav flex-column tabs text-light flex-grow-1">
                    <li class="nav-item m-0 p-0">
                        <a class="nav-link" id="items-link" data-url="dashboard/item-view/all">Dashboard</a>
                        <i class="fa fa-spinner fa-spin spinner" style="display: none;"></i>
                    </li>
                    <li class="nav-item m-0 p-0">
                        <a class="nav-link" id="summary-link" data-url="summary">Summary</a>
                        <i class="fa fa-spinner fa-spin spinner" style="display: none;"></i>
                    </li>
                    <li class="nav-item m-0 p-0">
                        <a class="nav-link" id="request-link" data-url="requests">Requests</a>
                        <i class="fa fa-spinner fa-spin spinner" style="display: none;"></i>
                    </li>
                    <li class="nav-item m-0 p-0">
                        <a class="nav-link d-flex" id="user-logout">
                            <i class="fa-solid fa-right-to-bracket text-danger fs-4"></i>
                            <span class="ms-2"> Logout</span>
                        </a>
                    </li>
                </ul>

                <footer class="border-top footer text-muted bg-dark">
                    <div class="container text-start">
                        &copy; 2024 - Inventory System - MJN
                    </div>
                </footer>
            </nav>



            
            @RenderBody()
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>