﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/popup-messages.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pagination.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
  
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    
    <script src="~/js/custom-select.js" asp-append-version="true" defer></script>
    <script src="~/js/messages.js" asp-append-version="true" defer></script>
    <script src="~/js/components.js" asp-append-version="true" defer></script>
    <script src="~/js/assets-modal.js" asp-append-version="true" defer></script>
    <script src="~/js/assets-data.js" asp-append-version="true" defer></script>

    <script src="~/js/utils.js" asp-append-version="true" defer></script>
    <script src="~/js/validate-form.js" asp-append-version="true" defer></script>
    <script src="~/js/requests.js" asp-append-version="true" defer></script>
    <script src="~/js/services.js" asp-append-version="true" defer></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>


</head>

<body id="dashboard-layout" style="user-select: none">
    <div class="container m-0 p-0">
        <div id="message-success" class="alert alert-success" style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); padding: 10px; background-color: #7eca8f; color: white; border-radius: 5px;">
            <!-- Success message content -->
        </div>
        <div id="message-error" class="alert alert-danger" style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); padding: 10px; background-color: #7eca8f; color: white; border-radius: 5px;">
            <!-- Error message content -->
        </div>

        <div id="prompt-message" class="popup-message alert alert-success" style="display: none; position: fixed; top: 10px; left: 50%; transform: translateX(-50%); padding: 10px; background-color: #7eca8f; color: white; border-radius: 5px;">
         </div>

        <div role="main" id="dashboard-main" class="d-flex vw-100">
     
            <!-- Sidebar Navigation -->
            <nav id="sidebar" class="bg-dark d-flex flex-column  p-0 border-end border-secondary" >
                <div class="d-flex fs-5 gap-2 text-orange  shadow p-2  ps-3">
                    <i class="bi bi-box-seam-fill"></i>
                    <span class="">IMS</span>
                </div>

             

                <ul class="nav flex-column tabs text-light flex-grow-1 mt-0 gap-1 p-2 border-top border-secondary">
                    <li class="nav-item m-0 p-0">
                        <a class="nav-link sidebar-link" id="dashboardlink" data-url="dashboard">
                            <i class="bi bi-speedometer2"></i>
                            <span class="ms-2-7">Dashboard</span>
                        </a>      
                    </li>

                    <li class="nav-item">
                        <div class="nav-button-container">
                            <a class="nav-link" id="inventory-list-button"
                               data-bs-toggle="collapse" data-bs-target="#inventoryTabButton">
                                <i class="bi bi-boxes"></i>
                                <span class="ms-2-7">Inventory</span>
                                <span class="caret-inventory" style="margin-left: 0.4rem;"></span>
                            </a>

                            <div class="ps-2 collapse" id="inventoryTabButton">
                                <ul id="inventory-list" class="gap-1 p-1 nav flex-column tabs text-light flex-grow-1 border-start border-orange-start rounded">
                                    <li>
                                        <a class="nav-link sidebar-link" id="inventory-link"
                                           data-url="inventory" data-string="All" data-title="Items">
                                            <i class="bi bi-collection"></i>
                                            <span class="ms-2-7">Items</span>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link sidebar-link" id="parts-inventory"
                                           data-url="inventory/parts/uncategorized" data-string="All"
                                           data-title="Parts">
                                            <i class="bi bi-gear"></i>
                                            <span class="ms-2-7">Parts</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>                     
                    </li>
                  
                    
                    <li class="nav-item m-0 p-0">
                        <a class="nav-link sidebar-link" id="request-link" data-url="requests">
                            <i class="fa-solid fa-user-group"></i>
                            <span class="ms-2-4">Requests</span>
                        </a>
                    </li>

                    <li class="nav-item m-0 p-0">
                        <a class="nav-link d-flex" id="user-logout">
                            <i class="bi bi-box-arrow-left text-danger"></i>
                            <span class="ms-2-9">Logout</span>
                        </a>
                    </li>
                </ul>

                <footer class="border-top border-secondary footer text-muted bg-dark">
                    <div class="container text-start">
                        &copy; 2024 - Inventory System - MJN
                    </div>
                </footer>
            </nav>
          
            <div class="w-100 m-0 p-0" id="rendered-view">
                @RenderBody()
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>