@using InventorySystem.Models.DataEntities
@model Item;

<div class="form-group mt-2 d-flex justify-content-between gap-4">

    <div class=" d-block">
        <label asp-for="Category" class="control-label">Category:</label>
        <p asp-for="Category" id="category-text" class="category-text text-center">@Model.Category</p>
        <input id="categoryPartial" hidden name="categoryPartial" asp-for="Category" />
    </div>

    <div class="w-50 d-block">
        <label asp-for="Status" class="control-label w-50 me-0"></label>
        <select asp-for="Status" id="updatestatus" class="form-control update ms-0" required name="updatestatus">
        </select>

        <span asp-validation-for="Status" id="updatestatus-errror" class="text-danger"></span>
    </div>

</div>