@using InventorySystem.Models.DataEntities
@model Item;

@{
    string catergoryFromModel = ViewBag.Category;
}

<div class="form-group mt-2 d-flex justify-content-between gap-4">

    <div class="w-40 d-flex">
        <label asp-for="Category" class="control-label">Category:</label>
        <p asp-for="Category" id="category-text" class="ms-2 category-text ps-1 pe-1 mt-sm-1">@Model.Category</p>
    </div>

    <div class="w-60 d-flex gap-0">
        <label asp-for="Status" class="control-label w-50 me-0"></label>
        <select asp-for="Status" id="updatestatus" class="form-control update mt-2 ms-0" required name="updatestatus">
        </select>

        <span asp-validation-for="Status" id="updatestatus-errror" class="text-danger"></span>
    </div>

</div>

