@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<InventorySystem.Models.User>
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    var CurrentUsername = ViewBag.Username as string;
    var CurrentAdminId = ViewBag.AdminId as int?;
    var message = ViewBag.SuccessMessage as string;
}

<script>

    var currentadmin = '@Html.Raw(@CurrentAdminId)';

    //check userid in session storage
    const storedadminname = sessionStorage.getItem('currentadmin');

    if (!storedadminname) {
        // If userId is not found in sessionStorage, store it
        if (currentadmin) {
            sessionStorage.setItem('storedadminname', currentadmin);

        } else {
            console.log('Admin username  is not available.');
        }
    }

    function delay(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    document.addEventListener('DOMContentLoaded', async function () {
        var PromptMsg = document.getElementById('prompt-message');

        // message is passed from the server-side Razor code.
        var message = '@Html.Raw(@message)'.trim();
        if (message.trim() !== '') {
            PromptMsg.textContent = message;
        }


        if (PromptMsg) {
            await delay(2000); // Wait for 2 seconds
            PromptMsg.style.display = 'none';
        }
        //console.log(message);
    });
</script>

<nav class="navbar p-2 bg-dark border border-top-0 border-3 border-start-0 border-end-0 ">
    <h3 class="text-success">Admin Dashboard</h3>
    <div>
        <a onclick="ShowPopUp('@Url.Action("AdminCreate", "AdminList",  null, Context.Request.Scheme)')" class="text-decoration-none btn btn-success" style="font-size: 12px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 1 25 24" width="18" height="18">
                <path d="M4 9.5a5 5 0 1 1 7.916 4.062 7.973 7.973 0 0 1 5.018 7.166.75.75 0 1 1-1.499.044 6.469 6.469 0 0 0-12.932 0 .75.75 0 0 1-1.499-.044 7.972 7.972 0 0 1 5.059-7.181A4.994 4.994 0 0 1 4 9.5ZM9 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm10.25-5a.75.75 0 0 1 .75.75V4h2.25a.75.75 0 0 1 0 1.5H20v2.25a.75.75 0 0 1-1.5 0V5.5h-2.25a.75.75 0 0 1 0-1.5h2.25V1.75a.75.75 0 0 1 .75-.75Z" fill="white"></path>
            </svg>
            Add New User
        </a>
        <a href="#" onclick="LogoutRequest('@CurrentAdminId', '@CurrentUsername')" class="btn btn-danger btn-sm">Logout</a>
    </div>


</nav>
<div id="admin-view">
    @await Html.PartialAsync("AdminListView", Model)
</div>
