<h6 class="d-flex gap-2 default-header" style="padding: 1rem 0.8rem; padding-bottom: 0.7rem;">
    <span class="default-icon"><i class="bi bi-box-seam-fill"></i></span>
    <span class="default-title">Title</span>
</h6>