@using InventorySystem.Models.Accounts;
@model RegisterModel


@{
}

<script>
    $(document).ready(function () {
        var signupbutton = $('#signup-button');
        signupbutton.html('Sign Up');
        var passwordinput = $('#signup-retypepassword');
        var iconcontainer = $('.retype-pass');
        var showcontainer = $('.retype-iconpass');
        var holdTimeout;
        
        var password$ = $('#signup-password');
        var container$ = $('.icons-container .show-pass');
        var show$ = $('.show-icon');

        ValidateSignUpForm();
        ShowPassword(password$, show$, container$);
        ShowPassword(passwordinput, showcontainer, iconcontainer);

        var signupPassword = document.getElementById('signup-password');
        var passwordGroup = document.getElementById('signupPasswordGroup');
        const charCountDisplay = document.getElementById('char-count');

        var confirmPassword = document.getElementById('signup-retypepassword');
        var confirmPasswordGroup = document.getElementById('confirmPasswordGroup');
        const confirmCountDisplay = document.getElementById('confirmCount');

        var username = document.getElementById('signup-username');
        var usernameGroup = document.getElementById('username-group');
        const usernameCount = document.getElementById('usernameChar-count');

        var email = document.getElementById('signup-email');
        var emailGroup = document.getElementById('email-group');
        const emailCount = document.getElementById('emailChar-count');

        username.addEventListener('input', () => updateCharCount(username, usernameCount));
        username.addEventListener('focus', () => addBorderClass(usernameGroup));
        username.addEventListener('blur', () => removeBorderClass(usernameGroup));
        email.addEventListener('input', () => updateCharCount(email, emailCount));
        email.addEventListener('focus', () => addBorderClass(emailGroup));
        email.addEventListener('blur', () => removeBorderClass(emailGroup));
        signupPassword.addEventListener('input', () => updateCharCount(signupPassword, charCountDisplay));
        signupPassword.addEventListener('focus', () => addBorderClass(passwordGroup));
        signupPassword.addEventListener('blur', () => removeBorderClass(passwordGroup));
        confirmPassword.addEventListener('input', () => updateCharCount(confirmPassword, confirmCountDisplay));
        confirmPassword.addEventListener('focus', () => addBorderClass(confirmPasswordGroup));
        confirmPassword.addEventListener('blur', () => removeBorderClass(confirmPasswordGroup));

        document.getElementById('signup-form').addEventListener('submit', (event) => {
            event.preventDefault();
            apiService.createRequest(event.target);
        });
        
    });

    function disableSpace(event) {

        if (event && event.code === 'Space') {
            event.preventDefault();
            return false;  
        }
        return true;
    };

    function updateCharCount(inputField, outputElement){
        const currentLength = inputField.value.length;
        outputElement.textContent = currentLength;
    }

    function addBorderClass(outputElement){
        outputElement.classList.add('outline-orange');
    }

    function removeBorderClass(outputElement) {
        outputElement.classList.remove('outline-orange');
    }
</script>

<style>
    .validation-lists-item, .signup-errors {
        font-size: 0.7rem;
        margin-top: 0;
    }
    
    .username-group{
        margin-bottom: 0;
    }

    span.signup-errors{
        margin-top: 0;
    }

    .validation-lists-item p{
        margin-top: 0;
        margin-bottom: 0;
    }

    #validation-lists{
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        margin-bottom: 0;
    }

    #display-passwordCount, #display-confirmCount, #display-usernameCount, #display-emailCount {
        font-size: 0.5rem;
        background-color: white;
        width: 2rem;
        z-index: 1;
        margin: 0;
        padding: 0.1rem;
    }

    .show-icon, .show-icon div, .retype-iconpass, .retype-iconpass div {
        background-color: white;
        z-index: 0;
    }

    #signup-password, #signup-retypepassword, #signup-username {
        z-index: 3;
    }
</style>

<h5 class="text-break"><strong>Sign Up</strong></h5>

<form asp-controller="ValidateApi" asp-action="Create" method="post" class="forms"  id="signup-form">
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <div class="input-group border border-1 rounded" id="username-group">
            <input asp-for="Username" type="text" class="form-control user-input border-0 pe-2" id="signup-username" name="signup-username"
                   autocomplete="off"
                   required
                   placeholder="Username"
                   maxlength="64"
                   data-val="true"
                   data-val-required="Username is required!"
                   pattern="\S+" onkeydown="disableSpace(event)" />

            <div class="input-group-text border-0 text-muted pe-2" id="display-usernameCount">
                <span id="usernameChar-count" class="pe-0 ms-auto">0</span><span class="pe-0">/64</span>
            </div>
        </div>
        <span asp-validation-for="Username" id="usernameSignup-error" class="text-danger signup-errors"></span>
    </div>
     
    <div class="form-group mt-1">
        <label asp-for="Email" class="control-label"></label>
        <div class="input-group border border-1 rounded" id="email-group">
            <input asp-for="Email" type="email" class="form-control user-input border-0 pe-2" id="signup-email" name="signup-email"
                   autocomplete="off"
                   required
                   placeholder="Email"
                   maxlength="64"
                   data-val="true"
                   data-val-required="Email is required!"
                   pattern="\S+" onkeydown="disableSpace(event)" />
            <div class="input-group-text border-0 text-muted pe-2" id="display-emailCount">
                <span id="emailChar-count" class="pe-0 ms-auto">0</span><span class="pe-0">/64</span>
            </div>
         </div>
        <span asp-validation-for="Email" id="emailSignup-error" class="text-danger signup-errors"></span>
    </div>
   

    <div class="form-group">
        <label asp-for="Password" class="control-label mt-1"></label>
        <div class="input-group border border-1 rounded" id="signupPasswordGroup">
            <input asp-for="Password" type="password" class="form-control user-input border-0 pe-2" id="signup-password" name="signup-password"
                   autocomplete="off"
                   required
                   placeholder="Password"
                   maxlength="128"
                   data-val="true"
                   data-val-required="Password is required!" />
                  
            <div class="input-group-text border-0 text-muted pe-0" id="display-passwordCount">
                <span id="char-count" class="pe-0 ms-auto">0</span><span class="pe-0">/128</span>
            </div>
            <div class="input-group-append show-icon border-0 rounded">
            
                <div class="input-group-text icons-container border-0">
                    <i class="fa-regular fa-eye icons-size show-pass"></i>
                </div>
            </div>
        </div>

        <div class="validations" id="password-validations">
            <ul id="validation-lists">
                <li id="hasSpaces" class="validation-lists-item">
                    <p>Should not contain spaces</p>
                </li>
                <li id="passwordLength" class="validation-lists-item">
                    <p>Must be between 8 and 128 characters</p>
                </li>
                <li id="specialChar" class="validation-lists-item">
                    <p>Atleast one special character</p>
                </li>
                <li id="hasNumber" class="validation-lists-item">
                    <p>Atleast one number</p>
                </li>
                <li id="upperCaseChar" class="validation-lists-item">
                    <p>Atleast one uppercased character</p>
                </li>
                <li id="lowerCaseChar" class="validation-lists-item">
                    <p>Atleast one lowercased character</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-group mt-0">
        <label for="signup-retypepassword" class="control-label mt-0">Confirm Password</label>
        <div class="input-group border border-1 rounded" id="confirmPasswordGroup">
            <input asp-for="ConfirmPassword" type="password" class="form-control user-input border-0 pe-2" id="signup-retypepassword" name="signup-retypepassword"
                   autocomplete="off"
                   required
                   placeholder="Confirm Password"
                   maxlength="128"
                   data-val="true"
                   data-val-required="Password is required!" />
            <div class="input-group-text border-0 text-muted pe-0" id="display-confirmCount">
                <span id="confirmCount" class="pe-0 ms-auto">0</span><span id="confirmTotalCount" class="pe-0">/128</span>
            </div>
            <div class="input-group-append retype-iconpass border-0 rounded">
                <div class="input-group-text icons-container border-0 ">
                    <i class="fa-regular fa-eye icons-size retype-pass"></i>
                </div>
            </div>
        </div>
        <span asp-validation-for="ConfirmPassword" id="signupPass-confirmError" class="text-danger signup-errors"></span>
    </div>
   
    <div class="d-flex mt-3 form-group">
        <button id="signup-button" class="ms-auto btn btn-success d-flex"></button>
        <a class="btn btn-outline-secondary d-flex ms-2" data-bs-dismiss="modal">Cancel</a>
    </div>



</form>