
/* Pagination styles */
.pagination-button {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(60%); /* Applies blur effect to the background behind the element */
    -webkit-backdrop-filter: blur(60%); /* For better compatibility with Safari */
    border-radius: 10px; /* Optional: for rounded corners */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    backdrop-filter: blur(60%); /* Applies blur effect to the background behind the element */
    -webkit-backdrop-filter: blur(60%); /* For better compatibility with Safari */
    border-radius: 10px; /* Optional: for rounded corners */
}

    .pagination a {
        display: block;
        padding: 0.5rem 1rem;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        text-decoration: none;
        color: #007bff;
        margin: 0 5px;
    }

        .pagination a.active {
            background-color: #007bff;
            color: white;
        }

        .pagination a.disabled {
            color: #6c757d;
            cursor: not-allowed;
            pointer-events: none;
            background-color: #f8f9fa;
        }
