.pagination {
    display: flex;
    justify-content: center;
    width: 100%; /* Make sure the container is full width */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.8rem;
    margin-bottom: 0;
    z-index: 1000;
    background-color: rgba(52, 58, 64, 0.7);
    backdrop-filter: blur(60%);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


    .pagination a {
        display: block;
        border: 1px solid #dee2e6;
        text-decoration: none;
        color: lightslategray; /* Set font color for all buttons */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    }

        .pagination a:hover {
            background-color: lightslategray; /* Hover background effect */
            color: black; /* Hover text color */
        }

    .pagination .page-item.active .page-link {
        background-color: #fd7e14 !important; /* Ensure the color change applies */
        border-color: #fd7e14 !important; /* Ensure the border color matches */
        color: white !important; /* Ensure the text color changes */
    }

    .pagination a.disabled {
        color: #6c757d;
        cursor: not-allowed;
        pointer-events: none;
        background-color: #f8f9fa;
    }


@media (min-width: 891px) {
    .pagination {
        margin-left: 6rem; /* Space for the sidebar */
    }
}
