/* Font-face definitions */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype'), url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Base font size adjustments */
html {
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/* General body styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.ms-2-9 {
    margin-left: 0.92rem;
}

.ms-2-7 {
    margin-left: 0.7rem;
}

.ms-2-4 {
    margin-left: 0.4rem;
}

.w-10 {
    width: 10%;
}

.w-13 {
    width: 13%;
}


.w-15 {
    width: 15%;
}

.w-60 {
    width: 60%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.hide-con {
    display: none !important;
}

.show-con {
    display: flex !important;
}


.text-orange {
    color: #fd7e14 !important;
}


.bgc-lsg {
    background-color: lightslategray !important;
    color: white !important;
}

    .bgc-lsg:hover {
        background-color: #6A7B8A !important;
    }

a.navbar-brand {
    color: #fd7e14 !important;
}

.index-navbar a.nav-link {
    font-size: 12px;
    color: white;
    border-radius: 12px;
}

    .index-navbar a.nav-link.active {
        color: white;
        background-color: #fd7e14 !important;
    }

    .index-navbar a.nav-link:hover {
        background-color: lightslategray !important;
        color: black !important;
    }

#loginbutton:active {
    background-color: lightslategray !important;
}

#loginbutton:hover {
    background-color: #e06c12 !important;
}

.bgc-orange, .ctg-selected {
    color: white !important;
    background-color: #fd7e14 !important;
    transition: ease 0.1s;
}

.ctg-notselected:hover {
    background-color: rgba(128, 128, 128, 0.2) !important; /* Hover background effect */
    color: #fd7e14; /* Hover text color */
}

.outline-orange {
    border: 1px solid #fd7e14 !important;
}

.border-orange-start {
    border-left-color: #fd7e14 !important;
}

.bgc-orange:hover {
    background-color: #e06c12 !important;
    color: white !important;
}


/* Button styles */
.btn-common {
    display: inline-flex;
    font-size: 12px;
    padding: 0.375rem 0.75rem;
    text-align: center;
    white-space: nowrap;
}

.btn-sm {
    font-size: 0.875rem;
    padding: 0.2rem 0.4rem;
}

.btn-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.btn-crud {
    background-color: lightslategray;
}

    .btn-crud:hover {
        background-color: #fd7e14;
        color: white;
    }

/* Sidebar */
#sidebar {
    width: 184px;
    height: 100vh;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    flex-shrink: 0;
}


    #sidebar h3 {
        margin-bottom: 20px;
    }

    #sidebar .nav-link {
        color: #ffffff;
        user-select: none;
    }




#top-bar {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 15px;
    padding-inline-start: 15%;
    z-index: 1050;
}

    #top-bar .btn {
        font-size: 0.875rem;
    }



.tabs .nav-link, .nav-button-container {
    border-radius: 8px;
    cursor: pointer;
}

    .tabs .nav-link:hover, .nav-button-container:hover {
        background-color: rgb(128, 128, 128, 0.3);
    }

    .tabs .nav-link .active:hover {
        background-color: inherit !important;
        color: inherit !important;
    }


.nav-link.disabled {
    pointer-events: none; /* Disable clicking */
    opacity: 0.6; /* Visual indication that link is disabled */
}

.nav-link.active {
    color: #fd7e14;
}





#username-container {
    overflow: clip;
    z-index: 1051;
}

#user-logout {
    cursor: pointer;
}


.spinner {
    margin-left: 0.5rem; /* Space between text and spinner */
    font-size: 1rem; /* Adjust size if needed */
    color: white; /* Customize color if needed */
}

/* Card styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    justify-content: center;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1rem;
}

.card-text {
    font-size: 0.7rem;
    max-width: 150px; /* Set a maximum width */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis */
    white-space: nowrap; /* Prevent text from breaking to the next line */
}

.card-title {
    font-size: 0.75rem;
    max-width: 150px; /* Set a maximum width */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis */
    white-space: nowrap; /* Prevent text from breaking to the next line */
}


.card-footer {
    border-top: 1px solid #dee2e6;
    background-color: #f8f9fa;
}


.form-control {
    border-color: none; /* Green border when focused */
    outline: none; /* Remove the default outline */
    box-shadow: 0; /* Add a green shadow */
}


.no-items {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    margin-top: 50px; /* Add margin if needed */
    width: 100%; /* Ensure it takes full width */
    text-align: center; /* Ensure text is centered */
}



.input-error {
    border: 1px solid red !important;
}

.input-blur {
    border: 1px solid lightgrey;
}

.input-focus {
    border: 1px solid blue;
}


.input-success:focus {
    border-color: #4CAF50; /* Green border when focused */
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Add a green shadow */
}

.input-error:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px red; /* Add a red glow */
    border-color: red; /* Keep border red on focus */
    caret-color: red; /* Change the text cursor (caret) color to red */
}



#modal-button-orange {
    box-shadow: none;
}

    #modal-button-orange:hover {
        background-color: #e06c12 !important;
    }

    #modal-button-orange:focus {
        background-color: #e06c12 !important;
        outline: #fd7e14 !important;
        border-color: #fd7e14 !important;
    }

    #modal-button-orange:focus-within, #modal-button-orange:focus, #modal-button-orange:active {
        box-shadow: #fd7e14 !important;
        outline: #fd7e14 !important;
        border-color: #fd7e14 !important;
    }

.hamburger {
    display: none;
    cursor: pointer;
}

.app-name {
    display: none;
}

.default-nav{
    display: flex;
}

/* Responsive styles */
@media (max-width: 1469px) {
    .card-container {
        grid-template-columns: repeat(7, 1fr); /* Adjust to 7 items per row on medium screens */
    }

    #inventory-content {
        padding: 15px;
        overflow-y: auto;
    }
}

@media (max-width: 1369px) {
    .card-container {
        grid-template-columns: repeat(6, 1fr); /* Adjust to 6 items per row on medium screens */
    }
}

@media (max-width: 1159px) {
    .card-container {
        grid-template-columns: repeat(5, 1fr); /* Adjust to 5 items per row on medium screens */
    }
}

@media (max-width: 1025px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr); /* Adjust to 4 items per row on medium screens */
    }
}

@media (max-width: 890px) {

    .navbar-toggler {
        display: block; /* Show the hamburger button */
    }


    .pagination-inventory {
        display: flex;
        justify-content: center;
        width: 100%; /* Ensure it spans the entire width */
        margin-left: 0; /* Remove the left margin completely */
        left: 0; /* Align the pagination with the start of the page */
        right: 0; /* Ensure it's still centered */
    }
}



@media (max-width: 820px) {
    #sidebar {
        display: none !important;
    }

    .custom-select{
        display: block;
    }

    .default-nav{
        display: none;
    }

    .hamburger {
        display: block !important;
    }

    .app-name {
        display: block !important;
    }

    #inventory-content {
        margin: 0;
        padding: 15px;
    }

    .category-label {
        font-size: 0.9rem;
    }

    #category-buttons button {
        font-size: 0.7rem;
    }

    .recent-data td {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: normal;
        word-wrap: normal;
    }




}



@media (max-width: 725px) {

    #inventory-content {
        padding: 0;
    }

    .no-items {
        display: flex;
        margin-left: 170%;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr); /* Adjust to 3 items per row */
    }


    .card {
        max-width: 100%;
    }

    .btn-common {
        font-size: 0.85rem;
        padding: 0.2rem 0.5rem;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .category-text {
        font-size: 0.3rem;
    }
}



.navbar-toggler-custom {
    border-color: transparent; /* Optional: remove border */
}

    .navbar-toggler-custom .navbar-toggler-icon {
        background-image: none; /* Remove default icon */
    }

        .navbar-toggler-custom .navbar-toggler-icon::before {
            content: '';
            display: block;
            width: 30px; /* Width of your icon */
            height: 3px; /* Height of your icon */
            background-color: orange; /* Change to your desired color */
            position: relative;
            transition: all 0.3s; /* Optional: add some transition */
        }

        .navbar-toggler-custom .navbar-toggler-icon::after {
            content: '';
            display: block;
            width: 30px; /* Width of your icon */
            height: 3px; /* Height of your icon */
            background-color: orange; /* Change to your desired color */
            position: relative;
            transition: all 0.3s; /* Optional: add some transition */
        }

#searchbar {
    font-size: 0.8rem;
    caret-color: #fd7e14;
}

    #searchbar:focus, #searchbar:active {
        border: none;
        outline: none;
        box-shadow: none;
    }

.search-icon-container {
    cursor: pointer;
    background-color: white;
}

.bi-plus-square {
    margin-top: 0.2rem;
    margin-left: 0.8rem;
}


.button-text {
    font-size: 0.8rem;
}

.category-label {
    font-size: 0.8rem;
}


.category-button-radius {
    border-radius: 4px;
    font-size: 0.8rem;
    width: 4rem;
    padding: 1px;
}

/* Remove default list styles from ul */
#category-buttons {
    list-style: none; /* Remove bullets */
    padding-left: 0; /* Remove default padding */
    user-select: none;
    color: black;
}


    #category-buttons li {
        display: inline; /* Ensure the buttons are inline */               
    }
        #category-buttons li .ctg-selected {
            color: white !important;
        }

    #category-buttons button {
        font-size: 0.7rem;
        color: #fd7e14 !important;       
    }

.ctg-notselected {
    background-color: white !important;
}

.category-button {
    margin-left: 10px;
}


.title-sm {
    margin-left: 0;
}

.inventory-checkbox {
    user-select: none;
    font-size: 0.84rem;
}

#uploadButton, #selectAllButton, #deleteCardButton {
    font-size: 0.8rem;
    background-color: white !important;
}


#deleteCardButton {
    color: red !important;
}

    .inventory-checkbox:hover, #uploadButton:hover, #deleteCardButton:hover {
        background-color: rgba(236, 236, 236, 1) !important;
    }


    #deleteCardButton:disabled {
        background-color: white !important;
        color: gray !important;
        cursor: default !important;
    }

    #deleteCardButton:disabled:hover {
        background-color: white !important;
        pointer-events: none;
    }

.inventory-checkbox label {
    cursor: pointer;
}
