/* Font-face definitions */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype'), url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Base font size adjustments */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.w-60 {
    width: 60%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.hide-con {
    display: none !important;
}

.show-con {
    display: flex !important;
}


.text-orange {
    color: #fd7e14 !important;
}
.bgc-lsg{
     background-color  : lightslategray !important;
     color:white !important;
}

    .bgc-lsg:hover {
        background-color: #6A7B8A !important;
    }

a.navbar-brand {
    color: #fd7e14 !important;
}

.index-navbar a.nav-link {
    font-size: 12px;
    color: white;
    border-radius: 12px;
}

    .index-navbar a.nav-link.active {
        color: white;
        background-color: #fd7e14 !important;
    }

.index-navbar a.nav-link:hover {
    background-color: lightslategray !important;
    color: black !important;
    
}

#loginbutton:active {
    background-color: lightslategray !important;
}

#loginbutton:hover {
    background-color: #e06c12 !important;
}

.bgc-orange, .ctg-selected, .ctg-notselected:hover {
    color: white !important;
    background-color: #fd7e14 !important;
    transition: ease 0.1s;
}

.outline-orange{
    border: 1px solid #fd7e14 !important;
}

.bgc-orange:hover, .ctg-selected:hover {
    background-color: #e06c12 !important;
    border: 1px solid white !important;
}
  
.ctg-notselected {
    border: 1px solid #fd7e14;
    color: gray;
    background-color: white;
}

/* General body styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* Button styles */
.btn-common {
    display: inline-flex;
    font-size: 12px;
    padding: 0.375rem 0.75rem;
    text-align: center;
    white-space: nowrap;
}

.btn-sm {
    font-size: 0.875rem;
    padding: 0.2rem 0.4rem;
}

.btn-container {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.btn-crud {
    background-color: lightslategray;
}

    .btn-crud:hover {
        background-color: #fd7e14;
        color: white;
    }

/* Sidebar */
#sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-color: #343a40;
    z-index: 1060;
}

    #sidebar h3 {
        margin-bottom: 20px;
    }

    #sidebar .nav-link {
        color: #ffffff;
        margin: 5px 0;
    }

/* Main content */
#main-content{
    margin-left: 109px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px; /* adjust as needed */
    overflow-x: hidden; /* hides horizontal overflow */
}





#top-bar {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 15px;
    padding-inline-start: 15%;
    z-index: 1050;
}

    #top-bar .btn {
        font-size: 0.875rem;
    }

#top-bar-bg {
    height: 3rem;
}


.tabs .nav-link {
    border-radius: 8px;
    cursor: pointer;
}

.tabs .nav-link:hover {
    background-color: lightslategray!important;
}


.nav-link.disabled {
    pointer-events: none; /* Disable clicking */
    opacity: 0.6; /* Visual indication that link is disabled */
}

.nav-link.active {
    color: #fd7e14;
}


#username-container {
    overflow: clip;
    z-index: 1051;
}

#user-logout {
    cursor: pointer;
}


.spinner {
    margin-left: 0.5rem; /* Space between text and spinner */
    font-size: 1rem; /* Adjust size if needed */
    color: white; /* Customize color if needed */
}

/* Card styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    justify-content: center;
}

.card {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1rem;
}

.card-text {
    font-size: 0.7rem;
    max-width: 150px; /* Set a maximum width */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis */
}

.display-status{
    border-radius: 12px;
}

.card-title {
    font-size: 0.75rem;
}

.card-footer {
    border-top: 1px solid #dee2e6;
    background-color: #f8f9fa;
}


.form-control {
    border-color: none; /* Green border when focused */
    outline: none; /* Remove the default outline */
    box-shadow: 0; /* Add a green shadow */
}


.no-items {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%;
    margin-top: 20px; /* Add margin if needed */
    text-align: center;
}



.input-error {
    border: 1px solid red;
}

.input-blur {
    border: 1px solid lightgrey;
}

.input-focus {
    border: 1px solid blue;
}
  

.input-success:focus {
    border-color: #4CAF50; /* Green border when focused */
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Add a green shadow */
}

.input-error:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px red; /* Add a red glow */
    border-color: red; /* Keep border red on focus */
    caret-color: red; /* Change the text cursor (caret) color to red */
}



#modal-button-orange {
    box-shadow: none;
}

    #modal-button-orange:hover {
        background-color: #e06c12 !important;
    }

    #modal-button-orange:focus {
        background-color: #e06c12 !important;
        outline: #fd7e14 !important;
        border-color: #fd7e14 !important;
    }

    #modal-button-orange:focus-within, #modal-button-orange:focus, #modal-button-orange:active {
        box-shadow: #fd7e14 !important;
        outline: #fd7e14 !important;
        border-color: #fd7e14 !important;
    }


/* Responsive styles */

@media (max-width: 1469px) {
    .card-container {
        grid-template-columns: repeat(7, 1fr); /* Adjust to 7 items per row on medium screens */
    }

    #main-content {
        margin-left: 140px;
        padding: 15px;
        overflow: auto;
    }
}

@media (max-width: 1369px) {
    .card-container {
        grid-template-columns: repeat(6, 1fr); /* Adjust to 6 items per row on medium screens */
    }
}

@media (max-width: 1159px) {
    .card-container {
        grid-template-columns: repeat(5, 1fr); /* Adjust to 5 items per row on medium screens */
    }
}

@media (max-width: 1025px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr); /* Adjust to 4 items per row on medium screens */
    }

   

   
}

@media (min-width: 891px) {
    #sidebar {
        display: block; /* Show the sidebar */
    }

    .navbar-toggler {
        display: none; /* Hide the hamburger button */
    }
}

@media (max-width: 890px) {
    #sidebar {
        display: none; /* Hide the sidebar */
    }

    #sidebar-content{
        display: none;
    }

    .navbar-toggler {
        display: block; /* Show the hamburger button */
    }

    #main-content {
        margin: 0; /* Reset left margin */
    }

    .pagination {
        display: flex;
        justify-content: center;
        width: 100%; /* Ensure it spans the entire width */
        margin-left: 0; /* Remove the left margin completely */
        left: 0; /* Align the pagination with the start of the page */
        right: 0; /* Ensure it's still centered */
    }
}




@media (max-width: 821) {

    #main-content {
        margin: 0;
    }


}

@media (max-width: 725px) {

    #main-content {
        padding: 0;
    }

    .no-items {
        display: flex;
        margin-left: 170%;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr); /* Adjust to 3 items per row */
    }


    .card {
        max-width: 100%;
    }



    .btn-common {
        font-size: 0.85rem;
        padding: 0.2rem 0.5rem;
    }

    .btn-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .category-text {
        font-size: 0.3rem;
    }
}


.navbar-toggler-custom {
    border-color: transparent; /* Optional: remove border */
}

.navbar-toggler-custom .navbar-toggler-icon {
    background-image: none; /* Remove default icon */
}

    .navbar-toggler-custom .navbar-toggler-icon::before {
        content: '';
        display: block;
        width: 30px; /* Width of your icon */
        height: 3px; /* Height of your icon */
        background-color: orange; /* Change to your desired color */
        position: relative;
        transition: all 0.3s; /* Optional: add some transition */
    }

    .navbar-toggler-custom .navbar-toggler-icon::after {
        content: '';
        display: block;
        width: 30px; /* Width of your icon */
        height: 3px; /* Height of your icon */
        background-color: orange; /* Change to your desired color */
        position: relative;
        transition: all 0.3s; /* Optional: add some transition */
    }


