@model InventorySystem.Models.Item
@{
    ViewData["Title"] = "Add new item";
    Layout = null;   
}
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetStatuses")',
            type: 'GET',
            success: function (data) {
                var $statusDropdown = $('#statusDropdown');
                $.each(data, function (index, item) {
                    var $option = $('<option></option>').val(item.value).text(item.text);
                    if (item.value === "Complete") {
                        $option.css('color', 'green');
                    } else if (item.value === "Incomplete") {
                        $option.css('color', 'red');
                    }
                    $statusDropdown.append($option);
                });
            },
            error: function (xhr, status, error) {
                console.log('Error fetching statuses: ' + error);
            }
        });


        $.ajax({
            url: '@Url.Action("GetOptions")',
            type: 'GET',
            success: function (data) {
                var $statusDropdown = $('#updateDropdown');
                $.each(data, function (index, item) {
                    var $option = $('<option></option>').val(item.value).text(item.text);

                    if (item.value === "N/A") {
                        $option.addClass('text-secondary'); // Apply gray color
                    }
                    else if (item.value.startsWith("YES")) {
                        $option.addClass('text-success'); // Apply green color
                    }
                    else if (item.value.startsWith("NO")) {
                        $option.addClass('text-danger'); // Apply red color
                    }

                    $statusDropdown.append($option);
                });
            },
            error: function (xhr, status, error) {
                console.log('Error fetching statuses: ' + error);
            }
        });
    });
</script>


<h5 class="text-break"><strong>Add new item</strong></h5>
<hr />
<form asp-action="AddItem" method="post" class="forms" asp-route-id="@Model.ItemId" onsubmit="return jQueryAjaxPost(this);">

    <!--div asp-validation-summary="ModelOnly"  class="text-danger needs-validation" novalidate></!--div-->

    <div class="form-group">
        <label asp-for="ItemCode" for="itemCode" class="control-label"></label>
        <input asp-for="ItemCode" id="itemCode" type="text" class="form-control user-input"
                   autocomplete="off"
                   required
                   placeholder="Item Code"
                   data-val = "true"
                   data-val-required="Item code is required!"
                   data-val-minlength="Item code must be at least 3 characters long."
                   data-val-minlength-min="3"
                   pattern="\S+" />

        <span asp-validation-for="ItemCode" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="ItemName" for="itemName" class="control-label"></label>
        <input asp-for="ItemName" id="itemName" class="form-control user-input"
                   autocomplete="off"
                   required
                   placeholder="Item Name"
                   data-val="true"
                   data-val-required="Item name is required!"
                   data-val-minlength="Item name must be at least 3 characters long." />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="ItemDescription" for="itemDescription" class="control-label"></label>
        <textarea asp-for="ItemDescription" id="itemDescription" type="text" class="form-control user-input"
               autocomplete="off"
                   placeholder="Description"></textarea>
        <span asp-validation-for="ItemDescription" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Status" for="statusDropdown" class="control-label"></label>
        <select asp-for="Status" id="statusDropdown" class="form-control" required>
            <option value="" class="text-muted">--Select Status--</option>
        </select>      
                 
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
  





      <div class="form-group mt-2">
        <label asp-for="AdditionalInfo" for="item-info" class="control-label"></label>
        <textarea asp-for="AdditionalInfo" id="item-info" class="form-control user-input"
               autocomplete="off"
               placeholder="Additional inforamtion"></textarea>
        <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
    </div>


    <div class="form-group mt-2">
        <label asp-for="FirmwareUpdated" for="updateDropdown" class="control-label"></label>
        <select asp-for="FirmwareUpdated" id="updateDropdown" class="form-control" required>
            <option value="" class="text-muted">--Select Option--</option>
        </select>

        <span asp-validation-for="FirmwareUpdated" class="text-danger"></span>
    </div>
    <hr class="mt-4"/>
    <div class="form-group mt-4">
        <input type="submit" value="Add Item" class="btn btn-success form-control"/>
        <input type="button" value="Cancel" class="btn btn-outline-secondary form-control mt-3"  data-bs-dismiss="modal" />
    </div>
</form>




@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  
}
