@using InventorySystem.Models.DataEntities
@model Item
@{
    ViewData["Title"] = "Add Item";
    Layout = null;
}

<script>
    var itemid = '@Html.Raw(Model.ItemId)';
    $(document).ready(function () {
        getStatuses();
        getOptions();
    });
</script>


<h5 class="text-break"><strong>Add new item</strong></h5>
<hr />
<form asp-controller="ValidateApi" asp-action="AddItem" id="add-item" method="post" class="forms" onsubmit="return AddRequest(this, itemid);">

    <div class="form-group">
        <label asp-for="ItemCode" for="itemCode" class="control-label"></label>
        <input asp-for="ItemCode" id="itemCode" type="text" class="form-control user-input" name="itemCode"
               autocomplete="off"
               required
               placeholder="Item Code"
               data-val="true"
               data-val-required="Item code is required!"
               data-val-minlength="Item code must be at least 3 characters long."
               data-val-minlength-min="3"
               pattern="\S+" />

        <span asp-validation-for="ItemCode" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="ItemName" for="itemName" class="control-label"></label>
        <input asp-for="ItemName" id="itemName" class="form-control user-input" name="itemName"
               autocomplete="off"
               required
               placeholder="Item Name"
               data-val="true"
               data-val-required="Item name is required!"
               data-val-minlength="Item name must be at least 3 characters long." />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="ItemDescription" for="itemDescription" class="control-label"></label>
        <textarea asp-for="ItemDescription" id="itemDescription" type="text" class="form-control user-input" name="itemDescription"
                  autocomplete="off"
                  placeholder="Description"></textarea>
        <span asp-validation-for="ItemDescription" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Status" for="statusDropdown" class="control-label"></label>
        <select asp-for="Status" id="statusDropdown" class="form-control" required name="statusDropdown">
            <option id="statusvalue" value="" class="text-muted">--Select Status--</option>
        </select>

        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="FirmwareUpdated" for="updateDropdown" class="control-label"></label>
        <select asp-for="FirmwareUpdated" id="updateDropdown" class="form-control" required name="updateDropdown">
            <option id="updatevalue" value="" class="text-muted">--Select Option--</option>
        </select>
        <span asp-validation-for="FirmwareUpdated" class="text-danger"></span>
    </div>

    <hr class="mt-4" />
    <div class="form-group mt-4">
        <input type="submit" value="Add Item" class="btn btn-success form-control" />
        <input type="button" value="Cancel" class="btn btn-outline-secondary form-control mt-3" data-bs-dismiss="modal" />
    </div>
</form>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
