@using InventorySystem.Models.Pagination
@using System.Security.Claims;
@model ItemListViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var CurrentUsername = ViewBag.Username as string;

}



<script>

    var activeCategory;
    var recentTimespanInterval;

    var info = $('#layoutbody #message-success');



    $(document).ready(function () {
        const carretDown = `<i class="bi bi-caret-down"></i>`;
        const carretUp = `<i class="bi bi-caret-up"></i>`;      
        const defaultContent = $('#sidebar ul li:first-child .sidebar-link').data('url');

        loadContent(defaultContent);   
        renderTitle(defaultContent);
        updateIcon(carretUp, carretDown);


        $('#sidebar .sidebar-link').on('click', function (e) {  

            if ($(this).data('url') === 'inventory') {
                activeCategory = $(this).data('string');
            }
            
            sidebarEvent(e, this);
        });

        $('#user-logout').on('click', function logoutEvent(e) {
            e.preventDefault();
            apiService.logoutRequest('@Url.Action("Logout", "ValidateApi", new { username = CurrentUsername })');
        });

        $('#inventoryTabButton').on('shown.bs.collapse', function () {
            updateIcon(carretUp, carretDown);
        }).on('hidden.bs.collapse', function () {
            updateIcon(carretUp, carretDown);
        });
    });


    function updateIcon(upIcon, downIcon) {
        let update = $('#inventoryTabButton').hasClass('show') ? upIcon : downIcon;
        setTimeout( () => {
            $('.caret-inventory').html(update).fadeIn();
        }, 10);
    }

    async function sidebarEvent(e, element) {
        e.preventDefault();
 
        clickedElementId = $(e.target).attr('id');

        if ($(element).hasClass('active')) {
            return;
        }
        
        $('#searchbar').val('');
        let url = $(element).data('url');


        await renderContent(element);
        await changeTitle(url);
        await renderTitle(url, element);
        await collapsebuttonList(element);
      
        clearRecentTimespanInterval()
        removeChecks();
    }

    async function collapsebuttonList(element) {

        let collapsible = $('#inventoryTabButton');

        switch (element.id) {
            case 'dashboardlink':
            case 'request-link':
                if (collapsible.hasClass('show')){
                    collapsible.removeClass('show');        
                    $('.caret-inventory').html('<i class="bi bi-caret-down"></i>');
                }            
                break;
            case 'inventory-list-button':
                if (!collapsible.hasClass('show')) {
                    collapsible.addClass('show');                   
                }
            default:              
                break;
        }    
    }

    async function renderContent(element) {
        let url = $(element).data('url');
    
        loadContent(url, element);
    }

    async function clearRecentTimespanInterval() {
        if (recentTimespanInterval) {
            clearInterval(recentTimespanInterval);
            recentTimespanInterval = null;
        }
    }

    async function changeTitle(title){   
        try{
            const response = await $.ajax({
                url: `partial_views/nav-dropdown`,
                type: 'GET',
                cache: true,
                timeout: 10000
            });

            $('.custom-select').html(response);
            $('.custom-select .view-title').html(title);
        } 
        catch (error){
            if (erorr.textStatus === 'timeout') {
                console.log('The request timed out.');
            } else {
                console.log("Error loading page: ", error.textStatus);
            }
        }
    }

    async function renderTitle(activeTab, element){
        let title, icon;        
        $(`.default-title-container`).html(defaultTitle).append(navDropdown);

        switch(activeTab){
            case 'dashboard':    
                title = 'Dashboard';
                icon = `<i class="bi bi-speedometer2"></i>`;
                $('.default-icon').html(icon);
                $('.default-title').text(title);
                $('.custom-select .view-title').text(title);
                $('.input-group search-container').addClass('d-none'); 
                break;
            case 'inventory':
            case 'inventory/parts/uncategorized':

                if (activeTab == 'inventory') {
                    title = "Items";
                } else {
                    title = $(element).data('title');
                }
                
                icon = `<i class="bi bi-boxes"></i>`;
                $('.default-icon').html(icon);
                $('.default-title').text(title);
                $('.custom-select .view-title').text(title);
                $('.input-group search-container').removeClass('d-none');
                break;
            case 'requests':
                title = 'Request';
                icon = `<i class="fa-solid fa-user-group"></i>`;
                $('.default-icon').html(icon);
                $('.default-title').text(title);
                $('.custom-select .view-title').text(title);
                break;
            default:
                return console.error('Tab not found!');
                break;
        };
    }
</script>


<div id="content-container" class="m-0 p-0 w-100">
    <div id="content-handler" class="m-0 p-0">
    </div>
</div>