@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = null;
}
<style>
    .comming-soon > span{
        margin-top: 5rem;
        font-size: 3rem;
        width: 5rem;
        height: 5rem;
    }
</style>

<!-- Top Bar -->
<nav class="border-bottom border-secondary">

    <div class="bg-dark d-flex p-1">

        <!-- Searchbar and Create Button Container -->
        <div class="d-flex justify-content-between align-items-center w-100 " id="searchbarAndCreateButtonContainer">
            <div class="bg-dark p-2 d-flex text-light">
                <i class="bi bi-speedometer2"></i>
                <span class="ms-1">Dashboard</span>
            </div>

            <div>
                <h6 href="#" class="text-decoration-none text-light text-start text-uppercase" id="username-container"></h6>
            </div>
        </div>

    </div>
    

</nav>

<!-- Content -->
<div id="dashboard-content" class="pt-3 mt-5 position-relative">
     
</div>

