@model ItemListViewModel

@{
    ViewData["Title"] = "Items View";
    //Layout = null;
    int count = 0; // Initialize a counter to track the number of items rendered

    var CurrentUsername = ViewBag.Username as string;
}


<div class="card-container">
    @if (Model.Items == null || !Model.Items.Any())
    {
        <div class="no-items text-center">
            <p class="text-center">No items found.</p>
        </div>
    }
    else
    {
        @foreach (var item in Model.Items)
        {
            if (count >= 24) break; // Stop rendering cards after 12 items
            @await Html.PartialAsync("ItemCard", item)

            count++; // Increment the counter after rendering each item
        }
    }

</div>






