@using InventorySystem.Models.DataEntities
@model Item

<script>
    
    $(document).ready(function () {
        changeBackground(); 
        changeDisplayName();
    });

    function changeDisplayName(){

        $('.catergoryValue').each(function () { 
            
            let categoryVal = $(this);
            let value = categoryVal.text().trim();
            let displayName = categoryVal.siblings('.displayName');  
            switch(value){
                case 'Robots':
                case 'Materials':
                    displayName.text('Code:');
                    break;
                case 'Books':
                    displayName.text('ISBN:');
                    break;
                default:
                    displayName.text('Code:');
                    break;
            }
        });
    }

    function changeBackground() {
        $('.card-status').each(function () {
            var $cardStatus = $(this);
            var status = $cardStatus.text().trim();
            var $displayStatus = $cardStatus.siblings('.display-status');  

            if (!status) {
            status = 'No Status';  
        }

            switch (status) {
                case 'Unknown':
                case 'Poor':
                    $displayStatus.css('background-color', 'gray').text(status);
                    break;
                case 'Complete':
                case 'New':
                    $displayStatus.css('background-color', 'green').text(status);
                    break;
                case 'Good':
                    $displayStatus.css('background-color', 'blue').text(status);
                    break;
                case 'Damaged':
                case 'Defective':
                case 'Missing':
                    $displayStatus.css('background-color', 'red').text(status);
                    break;
                case 'Incomplete(Unusable)':
                case 'Incomplete(Usable)':
                    $displayStatus.css({
                        'background-color': status === 'Incomplete(Usable)' ? 'blue' : 'red'
                    }).text('Incomplete');
                    break;
                default:
                    $displayStatus.css('background-color', 'black').text(status);  
                    break;
            }

 
            $displayStatus.css({
                'color': 'white',
                'border-radius': '12px'
            });
        });
    }

    
</script>

<div class="card">
   
    <div class="card-body">
        <h6 class="card-title mb-1 fs-6"><strong>@Model.ItemName</strong></h6>
        <p class="card-text mb-1">
            <span hidden class="d-none catergoryValue">@Model.Category</span>
            <strong class="displayName"></strong>
            <span class="displayCodeValue">@Model.ItemCode</span/>
        </p>
        <p class="card-text mb-0">
            <span class="card-status d-none">@Model.Status</span>
            <span class="display-status ps-1 pe-1 mb-0"></span>
        </p>
    </div>
    <div class="card-footer mt-0">
        <a onclick="ModalShow('dashboard/details/@Model.ItemId')"
           class="btn btn-crud btn-sm  mt-0 form-control text-light">
            View
        </a>
    </div>
</div>
