@using InventorySystem.Models.DataEntities
@model Item

@{
    var currentusername = ViewBag.Username as string;
    var role = ViewBag.RoleName as string;
}
<script>
    $(document).on('hidden.bs.modal', '.container #dynamic-modal', function (e) {
        $(this).remove();
    });
</script>

<div class="card">
    <div class="card-body">
        <h6 class="card-title mb-1 fs-6"><strong>@Model.ItemName</strong></h6>
        <p class="card-text mb-1"><strong>Code:</strong> @Model.ItemCode</p>
        <p class="card-text mb-0"><strong>Status:</strong> @Model.Status</p>
    </div>
    <div class="card-footer">
        <a onclick="ModalShow('dashboard/details/@Model.ItemId')"
           class="btn btn-primary btn-crud btn-sm form-control">
            View
        </a>
    </div>
</div>
