@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script>
    $(document).ready(function () {
        $('.comming-soon div').html('<div class="info-container"></div>');
        $('.info-container')
            .append('<i class="bi bi-cone-striped fs-3"></i>')
            .append(`<br/><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>`)
            .append('This page is currently underconstruction')
            .append(`<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>`)
            .append('<br/><span class="spinner-container"></span>')
            .addClass('border p-4 rounded shadow');

        for (let element = 0; element <= 2; element++) {
            $('.spinner-container').append('<span class="spinner-grow" role="status"></span>');
        }
     
    });

</script>

<nav class="">
    <div class="bg-dark d-flex p-1 border-bottom border-secondary">
        <!-- Searchbar and Create Button Container -->
        <div class="d-flex justify-content-between align-items-center w-100" id="searchbarAndCreateButtonContainer">
            <div class="d-inline-flex p-2 text-light" style="font-size: 1rem;">
                <i class="fa-solid fa-user-group mt-1"></i>
                <span class="ms-1">Requests</span>
            </div>        
        </div>

    </div>

</nav>

<div class="text-center p-2 text-orange comming-soon">      
    <div class="d-grid justify-content-center align-items-center align-content-center align-items-center
         text-orange fs-5"
         aria-hidden="true" style="height: 80vh;">     
    </div>
</div>