@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .comming-soon > span{
        margin-top: 5rem;
        font-size: 3rem;
        width: 5rem;
        height: 5rem;
    }
</style>

<nav class="">
    <div class="bg-dark d-flex p-1 border-bottom border-secondary">
        <!-- Searchbar and Create Button Container -->
        <div class="d-flex justify-content-between align-items-center w-100" id="searchbarAndCreateButtonContainer">
            <div class="d-inline-flex p-2 text-light" style="font-size: 1rem;">
                <i class="fa-solid fa-user-group mt-1"></i>
                <span class="ms-1">Requests</span>
            </div>

          


        </div>

    </div>

</nav>

<div class="text-center mt-3 ps-3 text-orange comming-soon">
    <h6> 
        Comming Soon
    </h6>
    
    <span class="spinner-border" role="status" aria-hidden="true">
    </span>

</div>