@model InventorySystem.Models.Item;

@{
    ViewData["Title"] = "Edit Details";
    //bool isCreationContext = ViewData["IsCreationContext"] is bool value && value;
    //var isCreationContext = ViewData["IsCreationContext"] != null && (bool)ViewData["IsCreationContext"];
    Layout = null;
}

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetStatuses")',
            type: 'GET',
            success: function (data) {
                var $statusDropdown = $('#statusDropdown');
                $.each(data, function (index, item) {
                    var $option = $('<option></option>').val(item.value).text(item.text);

                    if (item.value === "Complete") {
                        $option.addClass('text-success'); // Apply green color
                    }
                    else if (item.value.startsWith("Incomplete(Usable)")) {
                        $option.addClass('text-primary'); // Apply blue color
                    }
                    else if (item.value.startsWith("Incomplete(Unusable)")) {
                        $option.addClass('text-danger'); // Apply red color
                    }

                    $statusDropdown.append($option);
                });
            },
            error: function (xhr, status, error) {
                console.log('Error fetching statuses: ' + error);
            }
        });

        $.ajax({
            url: '@Url.Action("GetOptions")',
            type: 'GET',
            success: function (data) {
                var $statusDropdown = $('#updateDropdown');
                $.each(data, function (index, item) {
                    var $option = $('<option></option>').val(item.value).text(item.text);

                    if (item.value === "N/A") {
                        $option.addClass('text-secondary'); // Apply gray color
                    }
                    else if (item.value.startsWith("YES")) {
                        $option.addClass('text-success'); // Apply green color
                    }
                    else if (item.value.startsWith("NO")) {
                        $option.addClass('text-danger'); // Apply red color
                    }

                    $statusDropdown.append($option);
                });
            },
            error: function (xhr, status, error) {
                console.log('Error fetching statuses: ' + error);
            }
        });
    });
</script>

<h5><strong>Edit</strong></h5>
<hr />
<form asp-action="update" class="forms" asp-route-id="@Model.ItemId" onsubmit="return UpdateRe;">
    <!--div asp-validation-summary="ModelOnly" class="text-danger"></!--div-->
    <input type="hidden" asp-for="ItemId" />
    <div class="form-group">
        <label asp-for="ItemCode" class="control-label"></label>
        <input asp-for="ItemCode" type="text" class="form-control user-input" autocomplete="off" pattern="\S+"
               name="itemcode" id="itemcode" />
        <span asp-validation-for="ItemCode" id="itemcode-error" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="ItemName" class="control-label"></label>
        <input asp-for="ItemName" type="text" class="form-control user-input" autocomplete="off"
               name="itemname" id="itemname" />
        <span asp-validation-for="ItemName" id="itemname-error" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="ItemDescription" class="control-label"></label>
        <input asp-for="ItemDescription" type="text" class="form-control user-input" autocomplete="off"
               name="itemdesc" id="itemdesc" />
        <span asp-validation-for="ItemDescription" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" id="statusDropdown" class="form-control" required name="itemstatus" itemid="itemstatus">
            <option value="" class="text-muted">--Select Status--</option>
        </select>

        <span asp-validation-for="Status" id="status-errror" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="AdditionalInfo" class="control-label"></label>
        <textarea asp-for="AdditionalInfo" class="form-control user-input"
                  name="iteminfo"
                  id="iteminfo"
                  autocomplete="off"
                  placeholder="Additional inforamtion"></textarea>
        <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="FirmwareUpdated" class="control-label"></label>
        <select asp-for="FirmwareUpdated" id="updateDropdown" class="form-control" required name="itemfirmware" id="itemfirmware">
            <option value="" class="text-muted">--Select Option--</option>
        </select>

        <span asp-validation-for="FirmwareUpdated" id="firmwareupdated-error" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Save Changes" class="btn btn-primary form-control" />
        <input type="button" value="Cancel" class="btn btn-outline-secondary form-control mt-3 close-modalBtn" data-bs-dismiss="modal" />
    </div>
</form>

