@using InventorySystem.Models.Pagination
@using System.Security.Claims;
@model ItemListViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var CurrentUsername = ViewBag.Username as string;
    var CurrentUserid = ViewBag.UserId as int?;
    var message = ViewBag.SuccessMessage as string;
    var currentPage = Model.CurrentPage; // Store the current page number for use in JavaScript
    var totalPages = Model.TotalPages; // Store total pages for use in JavaScript
    var pageSize = ViewBag.PageSize;
    var userIdClaim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
    var storedClaim = int.Parse(userIdClaim!);
}

<script>
    const currentUsername = '@Html.Raw(CurrentUsername)';
    var info = $('#layoutbody #message-success');
    document.addEventListener('DOMContentLoaded', () => {
        $('#username-container').text(currentUsername);
        info.text(`Welcome ${currentUsername.toUpperCase()}!`).fadeIn().delay(1000).fadeOut();        
    });

    $(document).on('hidden.bs.modal', '.container #dynamic-modal', function (e) {
        $(this).remove();
    });

    $(document).ready(function () {
        loadContent('dashboard/item-view');

        $('#sidebar .nav-link').on('click', function (e) {
            e.preventDefault();

            // Disable all links
            $('#sidebar .nav-link').addClass('disabled');

            // Get the URL for the section
            var url = $(this).data('url');
            $(this).find('.spinner').show();
            loadContent(url);
            
        });

        
    });

</script>


<!-- Main Content Area --> 
<div id="main-content" class="d-flex flex-column mt-5 p-3 container-fluid ">
    
 
    <!-- Content -->
    <div id="view-all" class="p-0 mt-3 container-fluid ">

    </div>

   
</div>

@section Scripts {
   
}

