@using InventorySystem.Models.Pagination
@using System.Security.Claims;
@model ItemListViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var CurrentUsername = ViewBag.Username as string;
    var CurrentUserid = ViewBag.UserId as int?;
    var message = ViewBag.SuccessMessage as string;
    var currentPage = Model.CurrentPage; // Store the current page number for use in JavaScript
    var totalPages = Model.TotalPages; // Store total pages for use in JavaScript
    var pageSize = ViewBag.PageSize;
    var userIdClaim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
    var storedClaim = int.Parse(userIdClaim!);
}

<script>
    var currentUsername = '@Html.Raw(CurrentUsername)';
    
    var info = $('#layoutbody #message-success');
    document.addEventListener('DOMContentLoaded', () => {
        $('#username-container').text(currentUsername);
        info.text(`Welcome ${currentUsername.toUpperCase()}!`).fadeIn().delay(1000).fadeOut();   
        

    });

    $(document).on('hidden.bs.modal', '.container #dynamic-modal', function (e) {
        $(this).remove();
    });

    $(document).ready(function () {
           
        loadContent('dashboard/item-view');
        toggleSearchContainer('dashboard/item-view');

        $('#sidebar .nav-link').on('click', function (e) {
            e.preventDefault();

            // Disable all links
            $('#sidebar .nav-link').addClass('disabled');

            // Get the URL for the section
            var url = $(this).data('url');
            $(this).addClass('active');
            $(this).find('.spinner').show();
            loadContent(url);

            toggleSearchContainer(url);
        });



        $('#searchbar').on('input', function () {
            var itemcode = $(this).val(); // Get the search term
            loadItems(itemcode, 1); // Load the first page with the search term
        });

        function loadItems(itemcode, pageNumber) {
            $.ajax({
                url: 'dashboard/search', // Adjust this to match the controller and action
                type: 'GET',
                data: { itemcode: itemcode, page: pageNumber },
                success: function (response) {
                    $('#view-all').html(response); // Update the items container
                    updatePaginationControls(response);
                },
                error: function (xhr) {
                    if (xhr.status === 404) {
                        $('#view-all').html('<div class="no-items text-center"><p>No items found.</p></div>');
                    } else {
                        console.log("Error loading items: ", xhr.responseText);
                    }
                }
            });
        }

        function toggleSearchContainer(url) {
            var searchContainer = $('#hide-container');
            if (url === 'dashboard/item-view') {
                searchContainer.addClass('show-con');
                searchContainer.removeClass('hide-con');
            } else {
                searchContainer.removeClass('show-con');
                searchContainer.addClass('hide-con');
            }
        }


    });

    function updatePaginationControls(response) {
    // Assuming response contains pagination data or structure
    var totalPages = response.totalPages; // Get total pages from response
    var currentPage = response.currentPage; // Get current page from response

    // Update pagination controls
    // This will depend on the structure of your response and pagination controls
    }
    
</script>

<style>
    #searchbar {
        font-size: 0.8rem;
    }

        #searchbar:focus {
            border: 1px solid darkorange !important;
            outline: none; /* Remove the default outline */
            box-shadow: 0 0 1px lightslategray; /* Add a green shadow */
        }

        #searchbar:active {
            border: 1px solid darkorange !important;
        }

    .search-icon-container {
        cursor: pointer;
        background-color: white;

    }

</style>
<!-- Main Content Area --> 
<div id="main-content" class="d-flex flex-column mt-5 p-3 container-fluid ">

    <div class="d-flex">

     
        <div id="top-bar" class="d-flex justify-content-between bg-dark text-white fixed-top ">
            <div class="mt-2 ms-2">
                <h6>
                    
                </h6>
            </div>

            
        </div>

    </div>
    
    <div class="p-0 position-relative container-fluid" id="hide-container">

        <div class="input-group ms-auto">
            <div class="input-group-prepend search-container">
                <div class="input-group-text search-icon-container pt-0 pb-0 pe-0" title="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search text-orange me-2" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                    <input type="search" id="searchbar" class="form-control form-control-sm" placeholder="Search by code" autocomplete="off">
                </div>
            </div>

        </div>
   
        <!--div id="screensizer">
        </!--div-->

        <button class="btn bgc-orange form-control form-control-sm" onclick="ModalShow('dashboard/add-item')" style="font-size:0.7rem; width: 5rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square text-white" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
        </button>

    </div>

    <!-- Content -->
    <div id="view-all" class="p-0 container-fluid ">

    </div>
    
</div>

@section Scripts {
   
}

