@model IEnumerable<InventorySystem.Models.Item>



@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    //var welcomemsg = ViewBag.WelcomeMessage as string;
    //var welcomemsg = ViewBag.SuccessMessage as string;

}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div id="welcome-message" class="popup-message alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

    <script>
        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        document.addEventListener('DOMContentLoaded', async function () {
            var welcomeMsg = document.getElementById('welcome-message');

            if (welcomeMsg) {
                await delay(3000); // Wait for 3 seconds
                welcomeMsg.style.display = 'none';
            }
        });

    </script>



<header>
<nav class="navbar p-2 bg-dark border border-top-0 border-3 border-start-0 border-end-0 rounded">
    <h3 class="text-success">Dashboard</h3>
    <div>
        <a onclick="ShowPopUp('@Url.Action("AddItem", "Users",  null, Context.Request.Scheme)')" class="text-decoration-none btn btn-success" style="font-size: 12px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="22" height="22" viewBox="1 0 30 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            New Item
        </a>

            <a href="#" class="btn btn-danger btn-sm" onclick="Logout(event);">Logout</a>
    </div>
    
</nav>
</header>

<main>
<div id="view-all">

    @await Html.PartialAsync("ItemTable", Model)

</div>

</main>
@section Scripts {
} 

