@model IEnumerable<InventorySystem.Models.Item>



@{
    ViewData["Title"] = "User Dashboard";
   
}


<nav class="navbar p-2 bg-dark border border-top-0 border-3 border-start-0 border-end-0 rounded">
    <h3 class="text-success">Dashboard</h3>
    <a onclick="ShowPopUp('@Url.Action("AddItem", "Users",  null, Context.Request.Scheme)')" class="text-decoration-none btn btn-success" style="font-size: 12px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="22" height="22" viewBox="1 0 30 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>

        Add New Item
    </a>
</nav>

<div id="view-all">

    @await Html.PartialAsync("UserTable", Model)

</div>

@section Scripts {
} 

