@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using InventorySystem.Models.DataEntities
@model Item

@{
    ViewData["Title"] = "Item Table";
}

<form asp-action="AddItemForm" method="post" class="forms">
    <div class="form-group">
        <label for="ItemName"  class="form-control"></label>
        <input type="text" asp-for="ItemName" name="ItemName" value="" placeholder="Item Name" id="ItemName" class="form-control"
           required
           data-val="true"
           data-val-required="This field is required!"
           data-val-minlength="Item name must be at least 3 characters long."
           data-val-minlength-min="3"
           pattern="\S+" />
    </div>

    <div class="form-group">
        <label for="ItemName" class="form-control"></label>
        <input type="text" name="ItemName" value="" placeholder="Item Name" id="ItemName" class="form-control"
               required
               data-val="true"
               data-val-required="This field is required!"
               data-val-minlength="Item name must be at least 3 characters long."
               data-val-minlength-min="3"
               pattern="\S+" />
    </div>


</form>